*{
    margin: 0;
    padding: 0;
}
.header{
    height: 80px;
    width: 100vw;
    background: #000;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: fixed;
    top: 0px;
    z-index: 100;
    border: 2px solid #3c3b3b;

}
.logo{
    font-family: cursive;
    color: rgb(59, 237, 59);
    font-size: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3px;
    flex-grow: 2;
    
}
.logo > img {
    width: 70px;
    border-radius: 50%;
    margin: 10px;
}
.nav-bar{
    flex-grow: 5;
}
.nav-bar > ul{
    display: flex;
    color: rgb(59, 237, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.nav-bar > ul > li{
    list-style-type: none;
    color: rgb(59, 237, 59);
    flex-grow: 1;
    font-size: 29px;
   
}

.nav-bar > ul > li:hover{
    font-weight: bold;
    cursor: pointer;

}

.search-icon{
    height: 100%;
     flex-grow: 1;
     display: flex;
     align-items: center;
}
.search-icon > img {
    width: 50px;
    border: 1px solid green;
    border-radius: 9px;
    padding: 9px;
}
.search-icon > img:hover{
    box-shadow: 0 0 9px rgb(25, 247, 25);
}
.profile{
    height: 100%;
     flex-grow: 1;
     display: flex;
     align-items: center;
}
.profile > img {
    width: 50px;
    border: 1px solid green;
    border-radius: 18px;
    padding: 9px;
}

@media screen and (max-width: 768px) {
    .nav-bar > ul{
         display: none;
    }
    .nav-bar::before{
        content: "";
        width: 100px;
        height: 100px;
        background: green;
        border-radius: 14px;
        z-index: 101;
    }

    
}

 .top-food{
    height: 300px;
    background-color: #010101cd;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
     color: rgb(59, 237, 59);
    justify-content: space-around;
    font-family: monospace ;
      margin-top: 90px;
}
.top-food > .top-heading > h2{
    font-size: 35px;
}
.food-cards{
    display: flex;
    overflow: scroll;
    gap: 30px;

  
}
.food-item:hover{
    transform: scale(0.9);
    border-radius: 50%;
}
.food-item {
    height: 80%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}
.food-item > img{
    width: 150px;
    height: 150px;
    object-fit:cover;
    border-radius: 50%;
}
.food-item > p{
    font-size: 24px;
    font-weight: 600;
    color: rgb(59, 237, 59);; 
} 

.restaurants{
    background-color: #0e0e0eec;
    padding: 40px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.res-heading{
    height: 60px;
    display: flex;
    align-items: flex-start;

}
.res-heading > h2{
    color: rgb(59, 237, 59);
    font-size: 40px;
   
}

.res-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
}
.card-container {
     border: 2px solid green; 
    color: rgb(59, 237, 59);
    width: 320px;
    padding: 10px;

    letter-spacing: 1.3px;
    line-height: 2;
    font-size: 25px;

}
.card-container:hover{
    transform: scale(0.900011111);
       box-shadow: 0 0 6px green;
       border-radius: 12px;
}
.card-container > img{
    width: 300px;
    border-radius: 12px;
}

.card-container > .price{
    color: red;
    font-size: 1.5rem;
}
.footer{
    height: 100px;
    background-color: #000;
    color: rgb(59, 237, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
